/* Style for the thumbnail container */
#otembImages {
    text-align: center;
}

/* Style for the thumbnails */
.thumbnail {
    opacity: 0.8;
    cursor: pointer;
    margin: 5px;
    width: 150px; /* Set the thumbnail size to 150x150 pixels */
    height: 150px;
    object-fit: cover;
}

.thumbnail:hover {
    opacity: 1;
}

/* Styles for the blueimp gallery */
.blueimp-gallery > .description {
    position: absolute;
    top: 30px;
    left: 15px;
    color: #fff;
    display: none;
}

.blueimp-gallery-controls > .description {
    display: block;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
